<h1>Update Providers</h1>
<form method = "post">
    <fieldset>
        <label for="name">Provider Name: *</label>
        <input name="name" id="name" required value="{{providers.name}}" />
    </fieldset>
    <button class="btn btn-primary offset-2">Save</button>
</form>